
<div class="bg-gray-800 text-white p-4">
    <p class="text-center">©2025 My Website. All rights reserved.</p>
    <nav class="mt-2 text-center">
        <ul class="inline-flex space-x-4">
            <li><a href="#" class="hover:underline">Privacy Policy</a></li>
            <li><a href="#" class="hover:underline">Terms of Service</a></li>
            <li><a href="#" class="hover:underline">Contact Us</a></li>
        </ul>
    </nav>
</div>