---

---

<!-- <header class="w-full border-b border-gray-600 bg-gray-800">
    <div class="p-4 text-white ">
        <nav class="py-2.5">
            <ul class="flex space-x-6 justify-right">
                <li><a href="#about" class="hover:underline">Yunda</a></li>
                <li><a href="#ContactMeeting" class="hover:underline">Contact</a></li>
                <li><a href="#" class="hover:underline">Resume</a></li>
            </ul>
        </nav>
    </div>
</header> -->


<header class="w-full border-b border-gray-600 bg-gray-800 sticky top-0 z-50">
    <nav class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center text-white">
            <a href="#" class="text-2xl font-bold text-primary-light dark:text-primary-dark">Rizky Yunda</a>
            <div class="hidden md:flex space-x-6">
                <a href="#about" class="hover:text-primary-light dark:hover:text-primary-dark transition-colors duration-300">About</a>
                <a href="#projects" class="hover:text-primary-light dark:hover:text-primary-dark transition-colors duration-300">Projects</a>
                <a href="#ContactMeeting" class="hover:text-primary-light dark:hover:text-primary-dark transition-colors duration-300">Contact</a>
            </div>
            <div class="flex items-center">
                <a href="#ContactMeeting" class="hover:text-primary-light dark:hover:text-primary-dark transition-colors duration-300">Resume</a>
            </div>
        </div>
    </nav>
    <div id="mobileMenu" class="md:hidden hidden bg-white dark:bg-gray-800 transition-colors duration-300">
        <a href="#about" class="block py-2 px-4 text-sm hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300">About</a>
        <a href="#projects" class="block py-2 px-4 text-sm hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300">Projects</a>
        <a href="#ContactMeeting" class="block py-2 px-4 text-sm hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300">Contact</a>
    </div>
</header>