---

---

<section>
    <div class="bg-gray-800 text-white p-4">
        <p id="ContactMeeting">Book a Meeting</p>
            <iframe
            src="https://cal.com/yunda@qrius.global/meeting"
            width="100%"
            height="700"
            style="border: 0;"
            allowfullscreen
            ></iframe>
    </div>
</section>

