<section class="py-36 flex flex-col items-center justify-center bg-cover bg-no-repeat" style="background-image: url('assets/background_01.png')">
  <h2 class="text-4xl font-bold mb-2">Contact Me</h2>
  <p class="text-gray-600 mb-6 text-center max-w-md">
    Feel free to reach out to me through any of the platforms below.
  </p>
    <div class="flex justify-center items-center">
        <div class="flex flex-wrap gap-2 items-center justify-center hover:scale-110 transition-transform duration-300">
            <a href="#" target="_blank">
                <img src="assets/icons8-linkedin-100.png" alt="linkedIn" class="w-16 h-16">
            </a>
        </div>
        <div class="flex flex-wrap gap-2 items-center justify-center hover:scale-110 transition-transform duration-300">
            <a href="#" target="_blank">
                <img src="assets/icons8-github-100.png" alt="github" class="w-16 h-16">
            </a>
        </div>
        <div class="flex flex-wrap gap-2 items-center justify-center hover:scale-110 transition-transform duration-300">
            <a href="#" target="_blank">
                <img src="assets/icons8-whatsapp-100.png" alt="whatsapp" class="w-16 h-16">
            </a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <div class="flex flex-wrap gap-2 items-center justify-center hover:scale-110 transition-transform duration-300">
            <a href="#" target="_blank">
                <img src="assets/icons8-discord-100.png" alt="discord" class="w-16 h-16">
            </a>
        </div>
        <div class="flex flex-wrap gap-2 items-center justify-center hover:scale-110 transition-transform duration-300">
            <a href="#" target="_blank">
                <img src="assets/icons8-email-100.png" alt="email" class="w-16 h-16">
            </a>
        </div>
        <div class="flex flex-wrap gap-2 items-center justify-center hover:scale-110 transition-transform duration-300">
            <a href="#" target="_blank">
                <img src="assets/icons8-telegram-100.png" alt="telegram" class="w-16 h-16">
            </a>
        </div>
    </div>
</section>